.workspace-active-squared {
  font-size: smaller;
  padding: 2px 0px;
  margin-left: 20px;
  margin-right: 3px;
  background-color: rgba(160, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.workspace-inactive-squared {
  font-size: smaller;
  padding: 0px 0px;
  margin-left: 20px;
  margin-right: 3px;
  background-color: rgba(160, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1); 
  border-radius: 5px;
}

.workspace-active-rounded {
  font-size: smaller;
  padding: 2px 0px;
  margin-left: 20px;
  margin-right: 3px;
  background-color: rgba(160, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.workspace-inactive-rounded {
  font-size: smaller;
  padding: 0px 0px;
  margin-left: 20px;
  margin-right: 3px;
  background-color: rgba(160, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1); 
  border-radius: 50%;
}

.workspace-active-plain {
  margin-left: 10px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(160, 0, 0, 1);
  border-radius: 5px;
}

.workspace-inactive-plain {
  margin-left: 10px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(160, 0, 0, 0.5);
  border-radius: 5px;
}

.window-focused {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 2px solid rgba(160, 0, 0, 1);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
  border-radius: 5px;
}

.window-unfocused {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
  border-radius: 5px;
}

.window-hidden {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
}

.window-tooltip {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(160, 0, 0, 1);
  border: 1px solid rgba(67, 67, 67, 0.7);
  border-radius: 5px;
}

.window-thumbnail {
  border: 1px solid rgba(67, 67, 67, 0.7);
  border-radius: 2px;
  /*background-color: rgba(204, 204, 204, 0.7);*/
}
